---
import "../styles/global.css";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>CodiGol</title>
  </head>
  <body class="text-gray-950 dark:text-slate-100 bg-slate-100 dark:bg-neutral-900">
      CódiGol Remastered
  </body>
</html>